- unless depth == 0 and physical_host.parent_host
  %tr{class: ((Time.now - physical_host.updated_at < 20) and (not physical_host.new?)) ? "tr-info" : ""}
    %td= physical_host.u
    %td= physical_host.n
    %td
      - if depth > 0
        %i.icon-arrow-right
      - if physical_host.child_hosts.exists?
        %i.icon-arrow-down
      = link_to physical_host.ob_name, physical_host unless physical_host.ob_name.nil?
      %td= link_to physical_host.name, physical_host
    %td= physical_host.pdus[0].name if physical_host.pdus[0]
    %td= physical_host.pdus[0].voltage if physical_host.pdus[0]
    %td= physical_host.pdus[0].amps if physical_host.pdus[0]
    %td= physical_host.pdus[1].name if physical_host.pdus[1]
    %td= physical_host.pdus[1].voltage if physical_host.pdus[1]
    %td= physical_host.pdus[1].amps if physical_host.pdus[1]
    %td= physical_host.updated_at
  - if physical_host.child_hosts.exists?
    - physical_host.child_hosts.asc(:n).each do |child_host|
      = render partial: 'physical_racks/show_host', locals: {physical_host: child_host, depth: depth + 1}

  